@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@mixin font-zh($size, $weight) {
    //$weight in {1, 3, 4, 5, 7, 9}
    font-family: 'Noto Sans TC', sans-serif;
    font-size: $size;
    font-weight: $weight;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    $a: 0.9;
    background: linear-gradient(195deg, hsla(80, 57%, 77%, $a) 0%, hsla(166, 62%, 71%, $a) 100%);
    // background: linear-gradient(0deg, rgba(56, 241, 244, 0.7) 0%, rgba(103, 255, 191, 0.7) 100%);
}
a {
    text-decoration: none;
    color: black;
}
.round {
    border-radius: 50%;
}
.hr-2 {
    & > div {
        width: 1rem;
        height: 5px;
        background-color: hsl(80, 45%, 27%);
        border-radius: 1px;
    }
    //mt & mb 待設定
    margin-left: 2rem;
    margin-right: 20%;
    border-bottom: 1px solid hsl(80, 45%, 27%);
}
// 通用設定 END
//* 背景圖形
#bg {
    .circles {
        position: absolute;
        background: radial-gradient(
            circle at 75% 25%,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0.2) 55%,
            rgba(255, 255, 255, 0.1) 60%,
            rgba(255, 255, 255, 0.95) 80%,
            rgba(255, 255, 255, 0.95) 100%
        );
        &:first-child {
            $r: 20rem;
            width: $r;
            height: $r;
            top: 3%;
            right: 10%;
        }
        &:last-child {
            $r: 8rem;
            width: $r;
            height: $r;
            bottom: 8%;
            left: 20%;
        }
    }
}
//  背景圖形 END
#main-page {
    $gap: 3rem ;
    // main-page = { showcase, aside}
    display: grid;
    grid-template-columns: 12rem auto;
    gap: $gap;
    margin: 50px auto 0;
    width: clamp(300px, 80%, 750px);
    backdrop-filter: blur(1rem);
    background-color: rgba(#fff, 0.3);
    border-radius: 1.5rem;
    &, & > * {
        height: 80vh;
    }
    //* 側邊選單
    aside {
        width: 12rem;
        grid-area: 1 / 1;
        background: linear-gradient(
            150deg,
            rgba(#fff, 0.8) 0%,
            rgba(#fff, 0.7) 40%,
            rgba(#fff, 0.3) 90%,
            rgba(#fff, 0.2) 100%
        );
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: inherit;
        & > div {
            width: 100%;
            text-align: center;
        }

        //* 側邊選單 - I : 大頭照與名稱
        div:first-child {
            h3,
            h4 {
                text-align: center;
            }
        }
        //* 側邊選單 - II : 分頁鈕
        #tabs {
            height: 15rem;
            display: inherit;
            flex-direction: inherit;
            justify-content: space-between;
            & > h2 {
                display: flex;
                flex-grow: 1;
                justify-content: center;
                align-items: center;
                transition: background-color 0.3s;
                // background-color:#c9efd3;
                //TODO for JS 用的顏色
                img {
                    margin-right: 0.5rem;
                }
                &:hover {
                    background-color: #fff;
                }
            }
        }
        //* 側邊選單 - III : 社群連結
        div:last-child {
            display: inherit;
            flex-direction: row;
            justify-content: space-evenly;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 15px;
                width: 53px;
                height: 52px;
                transition: background-color 0.8s;
                img {
                    display: block;
                    width: 48px;
                    height: 47px;
                    object-fit: cover;
                    filter: drop-shadow(1px 1px 1px #00000033);
                }
                &:hover {
                    img {
                        filter: invert(5%);
                        transform: translate(2px, 2px);
                    }
                }
            }
        }
    }
    // 側邊選單 END
    //* 內容頁面
    #showcase {
        position: relative;
        grid-area: 1 / 2;
        margin: $gap 0;

        .inner-pages {
            height: 100%;
            width: 100%;
            //TODO 後台用傳送門
            &:not(:nth-child(1)) {
                display: none;
            }
            //TODO 後台用傳送門 END
            // &:nth-child(n + 2) {
            //     display: none;
            // }
        }
    }
}
