* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    $a: 0.9;
    background: linear-gradient(195deg, hsla(80, 57%, 77%, $a) 0%, hsla(166, 62%, 71%, $a) 100%);
    // background: linear-gradient(0deg, rgba(56, 241, 244, 0.7) 0%, rgba(103, 255, 191, 0.7) 100%);
}
a {
    text-decoration: none;
    color: black;
}
.round {
    border-radius: 50%;
}
// 通用設定 END
//* 背景圖形
#bg {
    .circles {
        position: absolute;
        background: radial-gradient(
            circle at 75% 25%,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0.2) 55%,
            rgba(255, 255, 255, 0.1) 60%,
            rgba(255, 255, 255, 0.95) 80%,
            rgba(255, 255, 255, 0.95) 100%
        );
        &:first-child {
            $r: 20rem;
            width: $r;
            height: $r;
            top: 3%;
            right: 10%;
        }
        &:last-child {
            $r: 8rem;
            width: $r;
            height: $r;
            bottom: 8%;
            left: 20%;
        }
    }
}
//  背景圖形 END
#main-page {
    display: grid;
    grid-template-columns: 12rem auto;
    margin: 50px auto 0;
    width: clamp(300px, 80%, 750px);
    backdrop-filter: blur(1rem);
    background-color: rgba(#fff, 0.3);
    border-radius: 1.5rem;
    aside,
    & > div {
        height: 80vh;
    }
    //* 側邊選單
    aside {
        width: 12rem;
        background: linear-gradient(
            150deg,
            rgba(#fff, 0.8) 0%,
            rgba(#fff, 0.7) 40%,
            rgba(#fff, 0.3) 90%,
            rgba(#fff, 0.2) 100%
        );
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: inherit;
        & > div {
            width: 100%;
            text-align: center;
        }

        div:first-child {
            h3,
            h4 {
                text-align: center;
            }
        }
        #tabs {
            height: 15rem;
            display: inherit;
            flex-direction: inherit;
            justify-content: space-between;
            & > h2 {
                display: flex;
                flex-grow: 1;
                justify-content: center;
                align-items: center;
                // background-color:#c9efd3;
                //TODO for JS 用的顏色
                img {
                    margin-right: 0.5rem;
                }
            }
        }
        div:last-child {
            display: inherit;
            flex-direction: row;
            justify-content: space-evenly;
            a {
                img {
                    display: inline-block;
                    filter: drop-shadow(1px 1px 1px #00000033);
                    transition: 0.5s;
                }
                &:hover {
                    img {
                        transform: translate(1px, 1px);
                        filter: drop-shadow(0 0 1px #ffffff99);
                    }
                }
            }
        }
    }
    // 側邊選單 END
    //* 內容頁面
    #showcase {
        position: relative;

        .inner-pages {
            height: 100%;
            width: 100%;
            &:nth-child(n + 2) {
                display: none;
            }
        }
    }
}
